<div class="page-loader">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<header class="header" style="height: 100px">
    <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
        <div class="navigation-trigger__inner">
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
        </div>
    </div>
    <div class="header__logo hidden-sm-down">       
        <h1> <img src="/img/avatar/123.jpg" style="width: 5rem;height: 5rem; border-radius: 50%;"><br/><a href="index.html" data-th-href="@{index}" style="font-weight: 900; font-size: larger; font-style: italic;">YXT Cloud Platform </a></h1>
    </div>
    <ul class="top-nav">
        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item theme-switch">
                    	切换背景 
                    <div class="btn-group btn-group--colors mt-2" data-toggle="buttons">
                        <label class="btn bg-green active">
                            <input type="radio" value="green" autocomplete="off" checked>
                        </label>
                        <label class="btn bg-blue">
                            <input type="radio" value="blue" autocomplete="off">
                        </label>
                        <label class="btn bg-red">
                            <input type="radio" value="red" autocomplete="off">
                        </label>
                        <label class="btn bg-orange">
                            <input type="radio" value="orange" autocomplete="off">
                        </label>
                        <label class="btn bg-teal">
                            <input type="radio" value="teal" autocomplete="off">
                        </label>
                        <br>
                        <label class="btn bg-cyan">
                            <input type="radio" value="cyan" autocomplete="off">
                        </label>
                        <label class="btn bg-blue-grey">
                            <input type="radio" value="blue-grey" autocomplete="off">
                        </label>
                        <label class="btn bg-purple">
                            <input type="radio" value="purple" autocomplete="off">
                        </label>
                        <label class="btn bg-indigo">
                            <input type="radio" value="indigo" autocomplete="off">
                        </label>
                        <label class="btn bg-lime">
                            <input type="radio" value="lime" autocomplete="off">
                        </label>
                    </div>
                </div>
                
                <a href="#" class="dropdown-item" onclick="fullScreen(this)">全屏</a>
                <a class="dropdown-item" data-th-href="@{logout}">退出</a>
            </div>
            
        </li>
    </ul>
    
		        <div class="user" >
		            <div class="user__info" data-toggle="dropdown">
		                <img class="user__img" style="width: 5rem;height: 5rem;">
		                <div>
		                    <div class="user__name" data-th-utext="${user.username}" style="color: aquamarine; font-size: 15px;"></div>
		                    <div class="user__email" data-th-utext="${user.email}" style="color: aquamarine; font-size: 15px;"></div>
		                </div>
		            </div>
		            <div class="dropdown-menu">
		                <a class="dropdown-item" href="#" id="user__profile">个人资料</a>
		                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#update-password">修改密码</a>
		            </div>
		        </div>
        
        
</header>