<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pg.mapper.DepartmentMapper">
    <select id="addDep" statementType="CALLABLE">
        call addDep(#{dep.name,mode=IN,jdbcType=VARCHAR},#{dep.parentId,mode=IN,jdbcType=INTEGER},#{dep.enabled,mode=IN,jdbcType=BOOLEAN},#{dep.result,mode=OUT,jdbcType=INTEGER},#{dep.id,mode=OUT,jdbcType=BIGINT})
    </select>
    <select id="deleteDep" statementType="CALLABLE">
        call deleteDep(#{dep.id,mode=IN,jdbcType=INTEGER},#{dep.result,mode=OUT,jdbcType=INTEGER})
    </select>
    <resultMap id="BaseResultMap" type="com.pg.bean.TDepartment">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="enabled" property="enabled"></result>
        <result column="entity_id" property="entityId"/>
        <result column="depPath" property="depPath"></result>
        <result column="isParent" property="isParent"></result>
    </resultMap>
    <select id="getDepByPid" resultMap="BaseResultMap">


       SELECT de.* from department  de  INNER join
				(SELECT  he.hotel_entity_id from  pg_user_entity he INNER join

                 user r
                   on r.id =he.hr_id where r.id= #{uid}) pghe  on pghe.hotel_entity_id =de.entity_id
              where de.entity_id =#{entityId} and de.enabled=1


    </select>
    <select id="getAllDeps" resultType="com.pg.bean.Department">
        select * from department WHERE enabled=true;
    </select>

    <insert id="addDeps" parameterType="com.pg.bean.TDepartment"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="parentId != null" >
                parentId,
            </if>

            <if test="enabled != null" >
                enabled,
            </if>

            <if test="entityId != null" >
                entity_id,
            </if>

            <if test="isParent != null" >
                isParent,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=BIGINT},
            </if>

            <if test="enabled != null" >
                #{enabled,jdbcType=BIT},
            </if>

            <if test="entityId != null" >
                #{entityId,jdbcType=INTEGER},
            </if>

            <if test="isParent != null" >
                #{isParent,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pg.bean.TDepartment" >
        update department
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>

            <if test="depPath != null" >
                depPath = #{depPath,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                parentId = #{parentId,jdbcType=BIGINT},
            </if>

            <if test="enabled != null" >
                enabled = #{enabled,jdbcType=BIT},
            </if>

            <if test="entityId != null" >
                entity_id = #{entityId,jdbcType=INTEGER},
            </if>

            <if test="isParent != null" >
                isParent=  #{isParent,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
<!--查询当前部门子部门-->
<select id="getChildrenDep" resultMap="BaseResultMap" parameterType="com.pg.bean.TDepartment">

    select * from  department where FIND_IN_SET(id,getChildrenDep(#{id})) and entity_id =#{entityId};

</select>


    <!--查询当前部门所有父部门-->
    <select id="getParentDep" resultMap="BaseResultMap" parameterType="com.pg.bean.TDepartment">

    select * from  department where FIND_IN_SET(id,getParentDep(#{id})) and entity_id =#{entityId};

    </select>

    <!--查询当前部门id 查询depPath-->
    <select id="getDepPathById" resultMap="BaseResultMap" parameterType="com.pg.bean.TDepartment">

    select * from  department
        <where>

            <if test="entityId != null and entityId !=''" >
                entity_id =#{entityId}
            </if>
            <if test="id != null and id !=''" >
                and id =#{id}
            </if>
        </where>

    </select>



</mapper>